@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>My ASP.NET Application</h1>
    <p class="lead">Use this tutorial to convert an existing ASP.NET application will be running on your own dedicated environment in the AWS Cloud. <br /> <br /> (great for when you run out of Azure credits!)</p>
</div>
